.form-box {
  margin-bottom: 32px;
}

.form {
  display: flex;
  justify-content: space-between;

  @media(max-width: 575.98px) {
    flex-direction: column;
  }

  &__group {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    transition: all .2s ease-in-out;

    &:hover {
      box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);
    }

    &:focus-within {
      box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);
    }

  }

  &__group--search {
    position: relative;
    display: flex;
    max-width: 985px;
    height: 56px;
    align-items: center;
    width: 100%;
    margin-right: 15px;

    @media(max-width: 575.98px) {
      max-width: unset;
      margin-right: unset;
      margin-bottom: 15px;
    }
  }

  &__search-icon {
    align-self: stretch;
    padding: 0 12px 0 16px;
    cursor: pointer;
  }

  &__search-floating-label {
    position: absolute;
    top: 15px;
    left: 44px;
    color: rgba(17, 17, 17, 0.48);
    transition: all .2s ease-in-out;
  }

  &__search {
    height: 52px;
    width: 100%;
    padding: 23px 16px 5px 0;

    &:focus+.form__search-floating-label,
    &:not(:placeholder-shown)+.form__search-floating-label {
      font-size: 13px;
      line-height: 20px;
      top: 3px;
    }
  }

  &__group--select {
    position: relative;
    width: 259px;
    flex-shrink: 0.2;

    @media(max-width: 575.98px) {
      width: 100%;
      flex-shrink: unset;
    }
  }

  &__floating-label {
    position: absolute;
  }
}