.btn {
  padding: 12px 19px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.flat {
  color: $purple-color;
  background-color: #fff;

  &:hover {
    background: rgba(110, 65, 226, 0.04);
  }

  &:active {
    background: rgba(110, 65, 226, 0.08);
  }

  // &:focus {
  // border-color:#828282;
  // }

  &:disabled {
    color: rgba(#6E41E2, .5);
    border-color: rgba(#6E41E2, .5);
    cursor: not-allowed;
  }
}

.secondary {
  background-color: #fff;
  color: $purple-color;
  border: 1px solid $purple-color;

  &:hover {
    background: rgba(110, 65, 226, 0.04);
  }

  &:active {
    background: rgba(110, 65, 226, 0.08);
  }

  // &:focus {
  // border-color:#828282;
  // }

  &:disabled {
    color: rgba(#6E41E2, .5);
    border-color: rgba(#6E41E2, .5);
    cursor: not-allowed;
  }
}

.primary {
  color: #fff;
  background: $purple-color;

  &:hover {
    background: #5835B0;
  }

  &:active {
    background: #472C8A;
  }

  &:disabled {
    background: #E3DAF9;
    cursor: not-allowed;
  }
}