// // Font
$ffRoboto: 'Roboto', sans-serif;
$ffMontserrat: 'Montserrat', sans-serif;

$mainFont                : $ffRoboto;
$secondaryFont           : $ffMontserrat;

// // Size
$mainFontColor           : #111111;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$boldFontWeight          : 700;
$mainLineHeight          : 24px;

// $desktopWidth            : 1280px;
// $smDesktopWidth          : 980px;
// $tableWidth              : 768px;
// $phoneWidth              : 480px;
// $smPhoneWidth            : 320px;

// // Main color
$dark-color                  :#000000;
$purple-color               :#6E41E2;
// $default-color           : #ffffff;
// $primary-color           : #444ce0;
// $success-color           : #26de81;
// $danger-color            : #fc5c65;
// $warning-color           : #fed330;
// $light-color             : #999999;

// // Neutral Color
// $neutral-primary         : #303133;
// $neutral-regular         : #606266;
// $neutral-secondary       : #909399;
// $neutral-placeholder     : #C0C4CC;

// // Border Color
// $border-base             : #DCDFE6;
// $border-light            : #E4E7ED;
// $border-lighter          : #EBEEF5;
// $border-lightex          : #F2F6FC;
